#logo {
    height: 10px;
    width: 10px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: white;
}
header {
    background-color: #344E41;
}
nav a:hover {
    background-color: black;
}
.book, .join {
    background-color: white;
}
.book:hover, .join:hover {
    background-color: #dad7cd;
}
#background {
    background-color: #dad7cd;
}
.msg {
    background-color: white;
}
footer {
    background-color: #344E41;
}
