@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Rock+Salt&display=swap');
heading-font: "rock salt";
--body-font: DM Sans;
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
/*don't change*/
body {
    background-color: #a3b18a;
}
/*don't change*/
header {
    background-color: #344E41;
}
/*don't change*/
nav a:hover {
    background-color: #dad7cd;
    color: white;
}
/*attempt to change links at top*/
.logo_link {
    color: white;
}
/*don't change*/
.book, .join {
    background-color: #a3b18a;
    color: black;
    text-decoration: none;
}
/*don't change*/
.book:hover, .join:hover {
    background-color: #a3b18a;
    color: white;
}

#background {
    background-color: #dad7cd;
}
/*don't change*/
.msg {
    background-color: #344E41;
}
/*don't change*/
footer {
    background-color: #344E41;
}
nav a {
    color: black;
}
/*don't change*/
nav a:hover {
    background-color: #dad7cd;
    color: white;
}
/*don't change*/
.home-title {
    color: black;
    font-family: "rock+salt";
}
/*don't change*/
h4 {
    
    color: black;
}
/*don't change*/
.book, .join {
    background-color: #a3b18a;
    color: black;
}
/*don't change*/
.book:hover, .join:hover {
    background-color: #dad7cd;
    color: white;
}
/*don't change*/
.msg h2 {
    color: white;
}
/*don't change*/
.msg p {
    color: white;
}
/*don't change*/
footer {
    color: black;
}
/*don't change*/
footer a {
    background-color: #a3b18a;
    color: black;
    text-decoration: none;
}
/*don't change*/
footer a:hover {
    background-color: #dad7cd;
    color: white;
}

.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.25em;
}
footer p a:hover {
    text-decoration: underline;
}    