#content {
    max-width: 1600px;
    margin: 0 auto;
}
/*finalized*/
nav a {
    text-decoration: none;
    color: black;
    padding: 38px;   
    color: black;
    text-align: center;
}
nav a:hover {
    background-color: #9CAF88;
    color: black;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #dad7cd;
    font-family: "Pacifico" , "sans-serif" , "courier";
    
}
#hero-msg h4 {
    color: #dad7cd;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    margin-bottom: 100px;
    grid-column: 1/11;
    grid-row: 4/9;
}
/*don't change*/
body {
    background-color: #9CAF88;
    font-family: "Pacifico" , "sans-serif" , "courier";
    font-size: 22px;
    margin: 0;
    padding: 0;

}
h2 {
    margin: 0;
    text-align: center;
}
/*don't change*/
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #FDF8E5;
}
nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.logo_link {
    color: white;
}
/*finalized*/
.book {
    background-color: #D1CBC1;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Helvetica', 'sans-serif';
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 7px;
    align-items: center;
    text-align: center;
}
/*finalized*/
.join {
    background-color: #a3b18a;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Helvetica', 'sans-serif';
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 7px;
}
/*finalized*/
.book:hover, .join:hover {
    background-color: #dad7cd;
    color: black;
    text-decoration: none;
}
#background {
    background-color: #dad7cd;
}
/*finalized*/
.msg {
    background-color: #6F789B;
    margin-top: 100px;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #dad7cd;
    font-family: "Pacifico" , "sans-serif" , "courier";
}
/*don't change*/
.social {
    padding-top: 15px;
}

/*don't change*/
.home-title h1 {
    color: black;
    font-family: 'Lora', 'Brush Script MT', 'Copperplate';
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/*don't change*/
h4 {
    
    color: black;
}
/*don't change*/
.msg h2 {
    color: white;
    font-family: 'Lora', 'Brush Script MT', 'Copperplate';
}
/*don't change*/
.msg p {
    color: white;
    font-family: "Pacifico" , "sans-serif" , "courier";;
    font-size: .8em;
    padding-bottom: 15px;
}
/*don't change*/
footer {
    background-color: #D1CBC1;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*finalized*/
footer a {
    background-color: #D1CBC1;
    color: black;
    text-decoration: none;
}
/*finalized*/
footer a:hover {
    background-color: #A27967;
    color: black;
}
.logo1 {
    width: 160px;
    height: 160px;
}
.logo {
    width: 200px;
    height: 300px;
    text-decoration: none;
    border: 10px solid #344E41;
    border-color: #344E41;
    color: #D1CBC1;
    text-decoration: none;
    transition: all;
    box-shadow: 5px 5px 10px #dad7cd;
}
.package-info {
    list-style-type: circle;
    text-align: center;
    list-style-position: inside;
}
.package-info h2 {
    color: #6F789B;
    font-family: 'Lora', 'Brush Script MT', 'Copperplate';
    text-decoration: wavy;
}

.sunrisepackage {
    display: grid;
    grid-template-columns: auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 12px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}

/*finalized*/
footer p {
    font-family: "Pacifico" , "sans-serif" , "courier";
    font-size: 1.25em;
}
/*finalized*/
footer p a:hover {
    text-decoration: underline;
}  
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
} 
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #dad7cd;
}
.container {
    position: relative;
    grid-template-columns: auto;
    margin: 15px 15px 15px;
    display: grid;
    border: 10px solid #6F789B;
    border-color: #6F789B;
    transition: all;
    box-shadow: 10px 10px 10px 10px #FDF8E5;
    
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .myslides {
    display: none;
    margin: 7.5px 7.5px 7.5px 7.5px;
    border: 5px solid #A27967;
    border-color: #A27967;
    transition: all;
    box-shadow: 2.5px 2.5px 2.5px 2.5px #D1CBC1;
    align-content: center;
    align-self: center;
    align-items: center;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
.card-image:hover {
    opacity: 0.6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;

}
main section img {
    box-sizing: border-box;
}
footer .social img   {
    padding-top:15px;
}

/*PAGE TWO*/

.package-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.casual-card, .beginner-card, .intermediate-card, .advanced-card {
    margin: 50px 0;
    
    align-content: center;
    align-self: center;
}
.casual-card{
    grid-column: 1/3;
    grid-row: 2/3;
    
}
.page_link {
    grid-template-columns: 1fr 1fr;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 100px;
    height: 300px;
    width: 200px;
    border: 10px solid #344E41;
    border-color: #344E41;
    color: #D1CBC1;
    text-decoration: none;
    transition: all;
    box-shadow: 5px 5px 10px #dad7cd;
}

.boots-img , .flower-img, .addons-img , .sunrise-img , .sunset-img , .horse-img {
    align-items: center;
    align-content: center;
    align-self: auto;
    justify-items: center;
    justify-self: center;
    border: 10px solid #344E41;
    border-color: #344E41;
    color: #D1CBC1;
    text-decoration: none;
    transition: all;
    box-shadow: 5px 5px 5px 5px #dad7cd;    
}
.package-one , .package-two {
    text-align: center;
    list-style-position: inside;
}

.sunset {
    margin-top: 50px;
}

.subhero-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    align-items:center ;
    margin-top: 100px;
    justify-content: center;
    border: 10px solid #344E41;
    border-color: #344E41;
    transition: all;
    box-shadow: 5px 5px 10px #dad7cd;
    text-align: center;
    color: #A27967;
    text-decoration: none;
}
.beginner-card {
    grid-column: 4/6;
    grid-row: 2/3;
}
.intermediate-card {
    grid-column: 7/9;
    grid-row: 2/3;
}
.advanced-card {
    grid-column: 10/12;
    grid-row: 2/3;
}
.card-img1 {
    width: 200px;
    height: 200px;
}
.card-img1 {
    border: 10px solid #344E41;
    border-color: #344E41;
    transition: all;
    box-shadow: 5px 5px 10px #dad7cd;
}
/*Contact us*/
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

/*THIS GOES AT THE VERY BOTTOM*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}